@model eros.Models.inward
@{
    Layout = null;
    string[] TableHeaders = new string[] {
        "Check",
        "Pro. Code",
        "PO Qty",
        "PR Qty",
        "In Qty",
        // "No. Set/Pro." ,
        // "No. set/shp" ,
        // "No. Shp/Qty" ,"No. Qty/Shp",
        // "Ttl Shp" ,
        "Scan",

        // " Check",
        // "Pro. Code",
        // "Qty" ,
        // "POQty",
        // "DMQty",
        // "No. set/pro." ,
        // "No. Qty/shp" ,
        // "No. shp/Qty" ,
        // "Ttl shp" ,
        // "Ttl sub",
    };
    string role = Context.Request.HttpContext.Session.GetString("Role");
    var jsonData = Context.Request.HttpContext.Session.GetString("MenuMaster");
}
@if (!string.IsNullOrEmpty(role))
{
    @if (role == "ADMIN" || role == "WAREHOUSE")
    {
        <div class="row mx-lg-2 mx-md-2">
            @* referenceno , partyname, gstino *@
            @*     <div class="form-group col-sm-4 mt-3">
    <label asp-for="referenceno" class="control-label"></label>
    <input id="sreferencenoId" asp-for="referenceno" data-uppercase autocomplete="off" class="form-control" />
    <span asp-validation-for="referenceno" class="text-danger"></span>
    </div> *@

            <div class="form-group col-sm-6 mt-2">
                <label asp-for="partyname" class="control-label">Partyname</label>
                <input id="spartynameIdinput" class="form-control" asp-for="partyname" readonly />
                <span asp-validation-for="partyname" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 mt-2">
                <label asp-for="gstinno" class="control-label"></label>
                <input asp-for="gstinno" data-uppercase autocomplete="off" id="sgstnoId" class="form-control" readonly />
                <span asp-validation-for="gstinno" class="text-danger"></span>
            </div>
            <div>
                @{
                    // Get sono value from ViewData
                    var ponoValue = ViewData["PonoValue"] as string;
                }
                <input id="pono" class="form-control" readonly hidden value="@ponoValue" />

            </div>
        </div>

        <div class="row mx-lg-2 mx-md-2">
            @* address , contact *@
            <div class="form-group col-sm-6 mt-2">
                <label asp-for="contactno" class="control-label"></label>
                <input asp-for="contactno" data-uppercase autocomplete="off" id="scontactnoId" class="form-control" readonly />
                <span asp-validation-for="contactno" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 mt-2">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" data-uppercase autocomplete="off" id="saddressId" class="form-control" readonly />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12  mx-lg-2 mx-md-2">
            <table id="CodesTable" class="table table-striped table-sm">
                <thead>
                    <tr>
                        @foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.inwardPacket.Count; i++)
                    {
                        <tr>
                            <td style="padding-left:30px;width:80px;display:none">
                                <input asp-for="@Model.inwardPacket[i].check" type="checkbox" class="form-check-input" data-index="@i" />
                            </td>
                            <td style="display:none;">
                                <input asp-for="@Model.inwardPacket[i].pono" class="form-control" readonly />
                            </td>
                            <td>
                                <input asp-for="@Model.inwardPacket[i].productcode" class="form-control productcode" readonly />
                                <span asp-validation-for="@Model.inwardPacket[i].productcode" class="text-danger"></span>
                            </td>
                            <td >
                                <input asp-for="@Model.inwardPacket[i].description" class="form-control" readonly />
                                <span asp-validation-for="@Model.inwardPacket[i].description" class="text-danger"></span>
                            </td>
                            <td style="display:none">
                                <input asp-for="@Model.inwardPacket[i].brand" class="form-control" readonly />
                                <span asp-validation-for="@Model.inwardPacket[i].brand" class="text-danger"></span>
                            </td>
                            <td style="width:80px;">
                                <input asp-for="@Model.inwardPacket[i].POQty" class="form-control SOQty-input" readonly data-quantity="@Model.inwardPacket[i].SOQty"
                                       data-product-code="@Model.inwardPacket[i].productcode" required />
                            </td>
                            <td style="width:80px;">
                                <input asp-for="@Model.inwardPacket[i].quantity" oninput="calculate(this)" class="form-control quantity-input"
                                       data-quantity="@Model.inwardPacket[i].quantity" data-product-code="@Model.inwardPacket[i].productcode" />
                            </td>
                            <td style="width:80px;">
                                <input asp-for="@Model.inwardPacket[i].DLQty" readonly class="form-control DLQty-input" data-quantity="@Model.inwardPacket[i].DLQty"
                                       data-product-code="@Model.inwardPacket[i].productcode" required />
                            </td>
                            <td style="width:80px;display:none">
                                <input asp-for="@Model.inwardPacket[i].setofsub_assemb" readonly class="form-control" />
                                <span asp-validation-for="@Model.inwardPacket[i].setofsub_assemb" class="text-danger"></span>
                            </td>
                            <td style="width:80px;display:none">
                                <input asp-for="@Model.inwardPacket[i].qtyperpkt" readonly class="form-control" />
                                <span asp-validation-for="@Model.inwardPacket[i].qtyperpkt" class="text-danger"></span>
                            </td>
                            <td style="width:80px;display:none">
                                <input asp-for="@Model.inwardPacket[i].noofpackets" readonly class="form-control noofpackets-input" />
                                <span asp-validation-for="@Model.inwardPacket[i].noofpackets" class="text-danger"></span>
                            </td>
                            <td style="width:80px;display:none">
                                <input asp-for="@Model.inwardPacket[i].noqtypershp" readonly class="form-control noqtypershp-input" oninput="calculate2(this)" />
                                <span asp-validation-for="@Model.inwardPacket[i].noqtypershp" class="text-danger"></span>
                            </td>
                            <td style="width:80px;display:none">
                                <input asp-for="@Model.inwardPacket[i].totalpacket" readonly class="form-control totalpacket-input" />
                                <span asp-validation-for="@Model.inwardPacket[i].totalpacket" class="text-danger"></span>
                            </td>
                            <td style="display:none;">
                                <input asp-for="@Model.inwardPacket[i].totalsubassmbly" id="totalsubassembly" class="form-control totalsubassembly" readonly />
                                <span asp-validation-for="@Model.inwardPacket[i].totalsubassmbly" class="text-danger"></span>
                                <input type="hidden" asp-for="@Model.inwardPacket[i].IsDeleted" />
                            </td>
                            <td style="display:none;">
                                <input asp-for="@Model.inwardPacket[i].uom" class="form-control" readonly />
                                <span asp-validation-for="@Model.inwardPacket[i].uom" class="text-danger"></span>
                            </td>
                            <td style="display:none" id="scanidflag">0</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm scaningid"
                                        onclick="scaningStockModal(this)"
                                        data-productcode="@Model.inwardPacket[i].productcode"
                                        data-quantity="@Model.inwardPacket[i].quantity">
                                    <span class="d-none d-sm-inline">scan</span>
                                    <span class="d-inline d-sm-none">scan</span>
                                </button>
                            </td>
                            <td style="display:none">
                                <a id="editDetail-@i" class="btn text-white btn-sm btn-warning poedit-button"
                                   data-id="@Model.inwardPacket[i].id"
                                   data-quantity="@Model.inwardPacket[i].quantity"
                                   data-productcode="@Model.inwardPacket[i].productcode"
                                   data-pono="@ponoValue">
                                    View
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

           


        </div>

                                                    <input type="hidden" id="hdnLastIndex" value="0" />
                                            <div class="row mx-lg-2 mx-md-2">
                                                <div class="form-group col-sm-3 mt-3">
                                                    <label asp-for="dcno" class="control-label"></label>
                                                    @* <input asp-for="dcno" id="dreferenceno" data-uppercase autocomplete="off" class="form-control" readonly/> *@
                                                            <input asp-for="dcno" id="dreferenceno" data-uppercase autocomplete="off" class="form-control" readonly />

                                                    <span asp-validation-for="dcno" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm-3 mt-3">
                                                    <label id="dcdateLabel" asp-for="dcdate" class="control-label"></label>
                                                    @* <input asp-for="dcdate" type="date" data-uppercase autocomplete="off" type="date" class="form-control" readonly/> *@
                                                            <input asp-for="dcdate" type="date" data-uppercase autocomplete="off" class="form-control" readonly />

                                                    <span asp-validation-for="dcdate" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm-3 mt-3">
                                                    <label asp-for="invoiceno" class="control-label"></label>
                                                    @* <input asp-for="invoiceno" id="dinvoiceno" data-uppercase autocomplete="off" class="form-control" readonly/> *@
                                                            <input asp-for="invoiceno" id="dinvoiceno" data-uppercase autocomplete="off" class="form-control" readonly />

                                                    <span asp-validation-for="invoiceno" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm-3 mt-3">
                                                    <label id="invoicedateLabel" asp-for="invoicedate" class="control-label"></label>
                                                    @* <input asp-for="invoicedate" type="date" data-uppercase autocomplete="off" type="date" class="form-control" readonly /> *@
                                                            <input asp-for="invoicedate" type="date" data-uppercase autocomplete="off" class="form-control" readonly />

                                                    <span asp-validation-for="invoicedate" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <input type="hidden" id="hdnLastIndex" value="0" />
                                            <div class="row mx-lg-2 mx-md-2">

                                                <div class="form-group col-sm-3 mt-3" style="display:none">
                                                    <label asp-for="grnno" class="control-label"></label>
                                                    <input asp-for="grnno" id="sgrnno" data-uppercase autocomplete="off" readonly class="form-control" />
                                                    <span asp-validation-for="grnno" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm-3 mt-3" style="display:none">
                                                    <label asp-for="grndate" class="control-label"></label>
                                                    <input type="date" asp-for="grndate" id="sgrnnodate" data-uppercase autocomplete="off" type="date" class="form-control" />
                                                    <span asp-validation-for="grndate" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm-6 mt-3">
                                                    <label asp-for="batchcode" class="control-label"></label>
@*                                                     <input asp-for="batchcode" id="batchcode" data-uppercase autocomplete="off" class="form-control" readonly required  />
 *@
     <input asp-for="batchcode" id="batchcode" data-uppercase autocomplete="off" class="form-control" readonly required />
<span asp-validation-for="batchcode" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm-6 mt-3">
                                                    <label asp-for="remarks" class="control-label"></label>
                                                    <input asp-for="remarks" data-uppercase autocomplete="off" class="form-control" oninput="validateAlphabet(this) "  />
                                            <span asp-validation-for="remarks" class="text-danger"></span>
                                                </div>
                                            </div>
    }
    else if (role == "HOSITE")
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show">
                <h6 class="alert-heading">
                    <i class="bi-exclamation-octagon-fill"></i>
                    No Access !!
                </h6>
                <p>
                    You do not have access to this page. Please contact your administrator for assistance.
                </p>
                <hr>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show">
                <h6 class="alert-heading">
                    <i class="bi-exclamation-octagon-fill"></i>
                    No Access !!
                </h6>
                <p>
                    You do not have access to this page. Please contact your administrator for assistance.
                </p>
                <hr>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
}
<style>
    label {
        font-size: small; /* You can also use specific values like 10px or 0.8em */
        font-weight: 700;
    }

    .small-heading {
        font-size: 1rem; /* Adjust the font size as needed */
    }
</style>
   @* table *@

@* MODEL POPUP FOR SCANING *@
<div class="modal fade" id="scaningModal" tabindex="-1" role="dialog" aria-labelledby="damageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scaningModalLabel">Scan Purchase-Returned Shippers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="scaningForm">
                    <small style="color:green; font-weight:550">Please Scan the sale returned product shippers sticker ...</small>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <small><label style="color:black; font-weight:550" for="boxno">Box No</label></small>
                            <input type="text" class="form-control" id="sboxno">
                        </div>
                        <div class="form-group col-sm-4">
                            <small><label style="color:black; font-weight:550" for="productcode">Pro.Code:</label></small>
                            <input type="text" class="form-control" id="sproductcode">
                        </div>
                        <div class="form-group col-sm-4">
                            <small><label style="color:black; font-weight:550" for="batchcode">Batch Code</label></small>
                            <input type="text" class="form-control" id="sbatchcode">
                        </div>
                    </div>
                    <br />
                    @* last table - small table  *@
                    <input type="hidden" name="tableData1" id="tableData1" />
                    <div class="table-responsive col-12 col-sm-12 mt-2" id="preInwardTable" style="max-height: 300px; overflow-y: auto;">
                        <table class="table table-bordered table-striped divide-gray-300 small" id="DataInsert" style="display:none;">
                            <thead style="background-color: #666; color: #fff;" class="sticky-top">
                                <tr>
                                    <th>Location</th>
                                    <th>Box No.</th>
                                    <th>Batch Code</th>
                                    <th>Pro. Code</th>
                                    @* <th style="display:none">Damage</th> *@
                                    <th>Clear</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <button style="display:none;"  type="submit" class="btn btn-success float-right" id="saveButtonSR">Save List</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var rproductcode, rquantity, selectedSono, soQty, dlQty; // Define global variables to store product code and quantity
    var batchno;


    function scaningStockModal(button) {
        console.log("call");
        var row = $(button).closest('tr'); // Find the closest row relative to the button

        if (row.find('#scanidflag').text() == '1') {
            // Show SweetAlert indicating sale return is already complete
            Swal.fire({
                icon: 'warning',
                title: 'Purchase Return Already Completed',
                text: 'Purchase return for this product has already been completed.',
            });

        } else {
            //console.log("Call...");
            $("#sboxno").focus();

            selectedSono = $("#ponoId").val();
            rproductcode = $(button).data('productcode');
            rquantity = $(button).closest('tr').find('.quantity-input').val();
            soQty = $(button).closest('tr').find('.SOQty-input').val(); // Get SOQty value
            dlQty = $(button).closest('tr').find('.DLQty-input').val(); // Get DLQty value
            pono = $("#ponoId").val(); // Get DLQty value

            if (parseInt(rquantity) === 0) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Quantity is 0',
                    text: 'Please enter a valid quantity.',
                });
                return;
            } else {
                $.ajax({
                    url: '/Outwards/FatchListDataPR',
                    type: 'GET',
                    data: {
                        productcode: rproductcode,
                        quantity: rquantity,pono:pono
                    },
                    success: function (response) {
                        if (response.success) {

                            console.log("Response: " + JSON.stringify(response.getData));

                            $("#DataInsert tbody").empty();
                            if (response.dataList.length === 0) {
                                console.log("No data found in list!");
                                return;
                            }
                            // $.each(response.dataList, function (index, item) {
                            //     var row = "<tr>" +
                            //         "<td>" + (item.locationcode || '') + "</td>" +
                            //         "<td>" + (item.boxno || '') + "</td>" +
                            //         "<td>" + (item.batchcode || '') + "</td>" +
                            //         "<td>" + (item.productcode || '') + "</td>" +
                            //         "<td>" +
                            //         "<button class='delete-button btn btn-danger btn-sm' onclick='sendDeleteData(\"" + item.location + "\", \"" + item.boxno + "\", \"" + item.batchcode + "\", \"" + item.productcode + "\")'>Clear</button>"" +
                            //         "</td>" +
                            //         "</tr>";
                            //     $("#DataInsert tbody").append(row);
                            // });
                            $.each(response.dataList, function (index, item) {
                                var row = "<tr>" +
                                    "<td>" + (item.locationcode || '') + "</td>" +
                                    "<td>" + (item.boxno || '') + "</td>" +
                                    "<td>" + (item.batchcode || '') + "</td>" +
                                    "<td>" + (item.productcode || '') + "</td>" +
                                    "<td>" +
                                    "<button class='delete-button btn btn-danger btn-sm' onclick='sendDeleteData(\"" + item.location + "\", \"" + item.boxno + "\", \"" + item.batchcode + "\", \"" + item.productcode + "\")'>Clear</button>" +  // Fixed double quotes here
                                    "</td>" +
                                    "</tr>";
                                $("#DataInsert tbody").append(row);
                            });


                            // Show the table
                            $("#DataInsert").show();
                        } else {
                            // Clear table body if no data is found
                            $("#DataInsert tbody").empty();
                            $("#DataInsert").hide();
                            console.log("Data not found in list!");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
            $("#sboxno").val("");
            $("#sboxno").focus();
            $("#scaningModal").modal("show");
            event.preventDefault();
        }
    }

    $('#saveButtonSR').click(function () {
        event.preventDefault();
        // Perform your save operation here
        console.log('Save button clicked');

        var rowData = [];

        // Iterate over each row of the table
        $('#CodesTable tbody tr').each(function (rowIndex) {
            var row = $(this);
            var inputs = row.find('input');
            var rowData = inputs.map(function () {
                return $(this).val();
            }).get();

            var tableProductCode = rowData[3];

            // Compare the table product code with rproductcode
            if (tableProductCode == rproductcode) {
                console.log("Match found! Row data:");
                console.log(rowData);
                var so = parseInt(rowData[6]);
                var sr = parseInt(rowData[8]);
                var dl = parseInt(rowData[10]);

                console.log("so : " + so + "pr : " + sr + "dl : " + dl);

                // // Perform calculations
                // var newSo = Math.abs(so - sr);
                // var newDl = Math.abs(dl - sr);
                // console.log("newSo : " + newSo + "newDl : " + newDl);
                // Update values in the table
                //row.find('input:eq(6)').val(newSo).prop('readonly', true);
                // row.find('input:eq(10)').val(newDl).prop('readonly', true);
                row.find('input:eq(8)').prop('readonly', true);

                // Set the flag to indicate that the button has been clicked once
                row.find('.scaningid').data('clicked', true);

                // Get batchcode and set its value
                document.querySelector('input[name="batchcode"]').value = batchno

                // Set the value of <td id="scanidflag"> to 1
                // $('#scanidflag').text('1');
                row.find('#scanidflag').text('1');


            } else {
                console.log("No match found.");
            }
        });


        $.ajax({
            url: '/Outwards/SavePR_List',
            type: 'POST',
            data: { productCode: rproductcode, soQty: soQty, dlQty: dlQty, srQty: rquantity, sono: selectedSono },
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: response.message,
                    });
                    console.log('Data saved successfully');
                    $("#scaningModal").modal("hide");
                   // $('.damage-button, .delete-button').css('display', 'none');
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Warning',
                        text: response.message,
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error('Error saving data:', error);
            }
        });
    });

    $('#sboxno').on('keypress', function (event) {
        if (event.which === 13 || event.keyCode === 13) { // Check if Enter key is pressed
            scanpickdata();
        } else {
        }
    });

    function getIndividualPartAndCount(boxNo) {
        // Split the box number by "-"
        var parts = boxNo.split("-");
        console.log("parts : " + parts);

        // Extract the second part which contains the individual box information
        var individualPart = parts[1];
        console.log("individualPart : " + individualPart);

        var individualParts = individualPart.split("/");
        console.log("individualParts : " + individualParts);

        // Extract the count from the individual part
        var count = parseInt(individualParts[1]);
        console.log("count : " + count);

        return count

    }

    // function scanpickdata() {
    //     // console.log("rproductcode : " + rproductcode);
    //     // console.log("rquantity : " + rquantity);
    //     // console.log("selectedSono : " + selectedSono);

    //     // Check if a SO No. is selected
    //     event.preventDefault();
    //     // var pattern = /[^a-zA-Z0-9\-\/$,. ]/g;
    //     // var test = document.getElementById("sboxno").value.trim().replace(pattern, '');
    //     //console.log("test : " + test);

    //     //document.getElementById("sboxno").value = test;

    //     var str = document.getElementById("sboxno").value.split(/[,|$]/);

    //     var boxno = str[3].trim().replace(pattern, '');
    //     batchno = str[5].trim().replace(pattern, '');
    //     // console.log("batchno : " + batchno);
    //     // console.log("boxno : " + boxno);

    //     document.getElementById("sboxno").value = boxno;

    //     var productcode1 = str[0].trim();
    //     var selectedoption = document.getElementById("sboxno").value;

    //     console.log(productcode1 +" + "+rproductcode);
    //     // Check if product code doesn't match
    //     if (productcode1 != rproductcode) {
    //         // Show SweetAlert for wrong product code scan
    //         Swal.fire({
    //             icon: 'warning',
    //             title: 'Wrong Product Code',
    //             text: 'The scanned product code does not match the expected product code.',
    //         });
    //         $("#sboxno").val(""); // Clear the input field
    //         return; // Exit the function if product code is wrong
    //     }
    //     var requestData = {
    //         boxno: boxno,
    //         batchno: batchno,
    //         productcode: productcode1,
    //         sono: selectedSono,
    //         rproductcode: rproductcode,
    //         rquantity: rquantity
    //     };
    //     //console.log("Request Data: ", requestData);

    //     $.ajax({
    //         url: '/Outwards/SavePickingDataPR',
    //         type: 'POST',
    //         contentType: 'application/json',
    //         data: JSON.stringify(requestData),
    //         success: function (response) {
    //             console.log("Response as string:", JSON.stringify(response));
    //             if (response.success) {
    //                 $("#DataInsert").show(); // Show the table with the ID "DataInsert"

    //                 // Access the returned data
    //                 var responseData = response.data;
    //                 var productCode = responseData.productCode;
    //                 var boxNo = responseData.boxNo;
    //                 var batchCode = responseData.batchCode;
    //                 var location = responseData.location;


    //                 var parts = boxNo.split("-");
    //                 //console.log("parts : " + parts);

    //                 // Extract the second part which contains the individual box information
    //                 var individualPart = parts[1];
    //                 //console.log("individualPart : " + individualPart);

    //                 var individualParts = individualPart.split("/");
    //                 //console.log("individualParts : " + individualParts);

    //                 // Extract the count from the individual part
    //                 var count = parseInt(individualParts[1]);
    //                 //console.log("count : " + count);

    //                 var counter = 0;
    //                 var boxcount = 1;

    //                 var rowCount = $("#DataInsert tbody").find('tr').length;
                    
    //                 // Iterate through the table rows
    //                 $("#DataInsert tbody").find('tr').each(function () {
    //                     var row = $(this);
    //                     var existingProductCode = row.find('td:eq(3)').text().trim();
    //                     var existingLocation = row.find('td:eq(0)').text().trim();
    //                     var existingBoxNo = row.find('td:eq(1)').text().trim();
    //                     var existingBatchCode = row.find('td:eq(2)').text().trim();

    //                     var splitbox = existingBoxNo.split("-");
    //                     var box1 = splitbox[1].trim();

    //                     // Compare response data with existing data in the table
    //                     if (
    //                         existingBatchCode == batchCode.trim() &&
    //                         existingBoxNo == boxNo.trim() &&
    //                         existingProductCode == productCode.trim() &&
    //                         existingLocation == location.trim()
    //                     ) {
    //                         // Data already exists, so you can return or perform any necessary action
    //                         counter++;
    //                     }
    //                     else if (box1 == individualPart) {
    //                         boxcount += 1;
    //                         if (parseInt(boxcount) == parseInt(rquantity.trim()) + 1) {
    //                             counter++;
    //                         } else {
    //                         }
    //                     }
    //                     // console.log("Counter : " + counter);

    //                 });
    //                 console.log("Quantity : " + rquantity);
    //                 console.log("Boxcount :" + boxcount);
    //                 console.log("Counter :" + counter);

    //                 if (counter == 0) {
    //                     // // Append the new data to the table if no match found
    //                     // $("#DataInsert tbody").append("<tr><td>"
    //                     //     + location + "</td><td>"
    //                     //     + boxNo + "</td><td>"
    //                     //     + batchCode + "</td><td>"
    //                     //     + productCode + "</td><td>"
    //                     //     + "<button class='delete-button btn-danger btn-sm' onclick='sendDeleteData1(\"" + location + "\", \"" + boxNo + "\", \"" + batchCode + "\", \"" + productCode + "\")'>Clear</button>" + "</td></tr>");
    //                     // $("#sboxno").val("");
    //                     // Append the new data to the table if no match found
    //                     $("#DataInsert tbody").append("<tr><td>" +
    //                         location + "</td><td>" +
    //                         boxNo + "</td><td>" +
    //                         batchCode + "</td><td>" +
    //                         productCode + "</td><td>" +
    //                         "<button class='delete-button btn btn-danger btn-sm' onclick='sendDeleteData1(\"" + location + "\", \"" + boxNo + "\", \"" + batchCode + "\", \"" + productCode + "\")'>Clear</button>" + "</td></tr>");
    //                     $("#sboxno").val("");

    //                 } else {
    //                     // + "<button  style='display: none;' class='damage-button btn-danger btn-sm' onclick='sendDamageData1(\"" + location + "\", \"" + boxNo + "\", \"" + batchCode + "\", \"" + productCode + "\")'>Damage</button>" + "</td><td>"
    //                     // Show warning if data already exists
    //                     Swal.fire({
    //                         icon: 'warning',
    //                         title: 'Warning',
    //                         text: response.message,
    //                     });
    //                     $("#sboxno").val("");
    //                 }
    //             } else {
    //                 // Show warning if data already exists
    //                 Swal.fire({
    //                     icon: 'warning',
    //                     title: 'Warning',
    //                     text: response.message,
    //                 });
    //                 $("#sboxno").val("");
    //             }
    //         },
    //         error: function (xhr, status, error) {
    //             console.log("AJAX request to SavePickingData failed");
    //             console.log("Error: " + error);
    //         }
    //     });
    // }

    function scanpickdata() {
        event.preventDefault();

        // Define the pattern for unwanted characters
        var pattern = /[^a-zA-Z0-9\-\/$,. ]/g;

        // Get and clean the input value
        var sboxnoValue = document.getElementById("sboxno").value;
        var str = sboxnoValue.split(/[,|$]/);

        // Extract and clean data from the split value
        var boxno = str[3].trim().replace(pattern, '');
        var batchno = str[5].trim().replace(pattern, '');

        document.getElementById("sboxno").value = boxno;

        var productcode1 = str[0].trim();
        var selectedoption = document.getElementById("sboxno").value;

        console.log("*"+productcode1 + "* + *" + rproductcode+"*");

        // Check if product code matches
        if (productcode1 !== rproductcode.trim()) {
            Swal.fire({
                icon: 'warning',
                title: 'Wrong Product Code',
                text: 'The scanned product code does not match the expected product code.',
            });
            $("#sboxno").val(""); // Clear the input field
            return; // Exit the function if product code is wrong
        }

        var requestData = {
            boxno: boxno,
            batchno: batchno,
            productcode: productcode1,
            sono: selectedSono,
            rproductcode: rproductcode,
            rquantity: rquantity
        };

        $.ajax({
            url: '/Outwards/SavePickingDataPR',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function (response) {
                if (response.success) {
                    $("#DataInsert").show(); // Show the table with the ID "DataInsert"

                    // Access the returned data
                    var responseData = response.data;
                    var productCode = responseData.productCode;
                    var boxNo = responseData.boxNo;
                    var batchCode = responseData.batchCode;
                    var location = responseData.location;

                    var parts = boxNo.split("-");
                    var individualPart = parts[1];
                    var individualParts = individualPart.split("/");
                    var count = parseInt(individualParts[1]);

                    var counter = 0;
                    var boxcount = 1;

                    var rowCount = $("#DataInsert tbody").find('tr').length;

                    $("#DataInsert tbody").find('tr').each(function () {
                        var row = $(this);
                        var existingProductCode = row.find('td:eq(3)').text().trim();
                        var existingLocation = row.find('td:eq(0)').text().trim();
                        var existingBoxNo = row.find('td:eq(1)').text().trim();
                        var existingBatchCode = row.find('td:eq(2)').text().trim();

                        var splitbox = existingBoxNo.split("-");
                        var box1 = splitbox[1].trim();

                        if (
                            existingBatchCode === batchCode.trim() &&
                            existingBoxNo === boxNo.trim() &&
                            existingProductCode === productCode.trim() &&
                            existingLocation === location.trim()
                        ) {
                            counter++;
                        } else if (box1 === individualPart) {
                            boxcount += 1;
                            if (boxcount === parseInt(rquantity.trim()) + 1) {
                                counter++;
                            }
                        }
                    });

                    if (counter === 0) {
                        $("#DataInsert tbody").append("<tr><td>" +
                            location + "</td><td>" +
                            boxNo + "</td><td>" +
                            batchCode + "</td><td>" +
                            productCode + "</td><td>" +
                            "<button class='delete-button btn btn-danger btn-sm' onclick='sendDeleteData1(\"" + location + "\", \"" + boxNo + "\", \"" + batchCode + "\", \"" + productCode + "\")'>Clear</button>" + "</td></tr>");
                        $("#sboxno").val("");
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning',
                            text: response.message,
                        });
                        $("#sboxno").val("");
                    }
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Warning',
                        text: response.message,
                    });
                    $("#sboxno").val("");
                }
            },
            error: function (xhr, status, error) {
                console.log("AJAX request to SavePickingData failed");
                console.log("Error: " + error);
            }
        });
    }


    function sendDamageData1(location, boxNo, batchCode, productCode) {
        event.preventDefault();

        // Log the row data to the console
        console.log("Location: " + location);
        console.log("Box No: " + boxNo);
        console.log("Batch Code: " + batchCode);
        console.log("Product Code: " + productCode);

        Swal.fire({
            title: 'Confirm Damage',
            text: 'Are you sure you want to consider this product as damaged ?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, continue',
            cancelButtonText: 'No, cancel',
        }).then((result) => {
            if (result.isConfirmed) {
                // Make an AJAX POST request to the controller action
                $.ajax({
                    url: '/inwards/PurchaseReturnDamage',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        location: location,
                        boxNo: boxNo,
                        batchCode: batchCode,
                        productCode: productCode
                    }),
                    success: function (response) {
                        console.log("Response from controller:", response);
                        if (response.success) {
                            // Show SweetAlert success message
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: response.message,
                            });
                            // Add CSS class to the clicked button
                            //clickedButton.addClass('damaged-button');
                        } else {
                            // Show SweetAlert error message
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message,
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                        // Show SweetAlert error message
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred while processing the request.',
                        });
                    }
                });
            }
        });
    }

    function sendDeleteData1(location, boxNo, batchCode, productCode) {
        event.preventDefault();

        // Log the row data to the console
        console.log("Location: " + location);
        console.log("Box No: " + boxNo);
        console.log("Batch Code: " + batchCode);
        console.log("Product Code: " + productCode);

        Swal.fire({
            title: 'Confirm Clear ?',
            text: 'Are you sure you want to Clear shipper ?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, continue',
            cancelButtonText: 'No, cancel',
        }).then((result) => {
            if (result.isConfirmed) {
                // Make an AJAX POST request to the controller action
                $.ajax({
                    url: '/inwards/PurchaseReturnDelete',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        location: location,
                        boxNo: boxNo,
                        batchCode: batchCode,
                        productCode: productCode
                    }),
                    success: function (response) {
                        console.log("Response from controller:", response);
                        if (response.success) {
                            // Show SweetAlert success message
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: response.message,
                            });
                            // // Add CSS class to the clicked button
                            // clickedButton.addClass('damaged-button');
                            // Remove the corresponding row from the table body
                            $("tr").each(function () {
                                if ($(this).find("td:eq(0)").text().trim() == location &&
                                    $(this).find("td:eq(1)").text().trim() == boxNo &&
                                    $(this).find("td:eq(2)").text().trim() == batchCode &&
                                    $(this).find("td:eq(3)").text().trim() == productCode) {
                                    $(this).remove();
                                }
                            });
                        } else {
                            // Show SweetAlert error message
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message,
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                        // Show SweetAlert error message
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred while processing the request.',
                        });
                    }
                });
            }
        });
    }

    

    // function calculate(input) {
    //     var parentRow = input.closest('tr');
    //     var quantity = parseInt(parentRow.querySelector('.SOQty-input').value);
    //     var noofshpperqty = parseInt(parentRow.querySelector('.noofpackets-input').value);
    //     var totalPacketInput = parentRow.querySelector('.totalpacket-input');
    //     var totalShipper = noofshpperqty * input.value; // Corrected to multiply 'noofshpperqty' with 'input.value'
    //     totalPacketInput.value = totalShipper;
    //     var DLQty = parseInt(parentRow.querySelector('.DLQty-input').value);
    //     var productcode = parentRow.querySelector('.productcode').value; // Get the value of the product code input
    //     // Validate if quantity exceeds DLQty
    //     if ((input.value) > DLQty) {
    //         input.value = DLQty;
    //         totalShipper = noofshpperqty * (input.value);
    //         Swal.fire({
    //             icon: 'warning',
    //             title: 'Quantity Exceeded',
    //             text: 'Entered quantity cannot exceed In quantity of ' + productcode,
    //         });
    //     }

    //     console.log("noofshpperqty :" + noofshpperqty);
    //     console.log("quantity :" + input.value);
    //     console.log("totalShipper :" + totalShipper);
    // }

    function calculate2(input) {
        console.log("Function 2 call......");
        var parentRow = input.closest('tr');
        var quantity = parseInt(parentRow.querySelector('.quantity-input').value);
        var noqtypershp = parseFloat(input.value);
        console.log("noqtypershp : " + noqtypershp);
        var totalPacketInput = parentRow.querySelector('.totalpacket-input');

        if (noqtypershp > 0) {
            var totalShipper = quantity / noqtypershp;
            totalPacketInput.value = totalShipper;
            console.log("totalShipper : " + totalShipper);
        } else {
            totalPacketInput.value = 0; // Set totalPacketInput to 0 if noqtypershp is 0 or invalid
        }
    }

    function calculate(input) {
        console.log("Function 1 call......");
        var parentRow = input.closest('tr');
        var quantity = parseInt(parentRow.querySelector('.quantity-input').value);
        var noofshpperqty = parseInt(parentRow.querySelector('.noofpackets-input').value);
        var totalPacketInput = parentRow.querySelector('.totalpacket-input');

        var noqtypershpInput = input.parentElement.nextElementSibling.querySelector('.noqtypershp-input');

        if (noofshpperqty === 0) {
            noqtypershpInput.removeAttribute('readonly');
            if (parseFloat(noqtypershpInput.value) > 0) {
                console.log("call function 2 :calculate2()");
            }
        }
        else {
            noqtypershpInput.value = 0;
            noqtypershpInput.setAttribute('readonly', 'readonly');
            var totalShipper = noofshpperqty * quantity;
            totalPacketInput.value = totalShipper;
            console.log("totalShipper : " + totalShipper);
        }
    }

    var quantityInputs = document.querySelectorAll('.quantity-input');
    quantityInputs.forEach(function (input) {
        // console.log("Quantity changes....");
        input.addEventListener('change', function () {
            var enteredQuantity = parseFloat(this.value);

            if (enteredQuantity <= 0) { // Check if quantity is less than zero
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Quantity',
                    text: 'Quantity cannot be less than 0 :)',
                });
                this.value = '0'; // Reset value to 0
            }
        });
    });
  
    function viewListData() {
        $('#hiddenButton').trigger('click');
    }
    
    //_partialAddSerial
    $(document).on('click', '.boq-button', function () {
        // var selectedValue = $(this).closest('tr').find('.templatenamecl option:selected').text();
        var selectedValue = $(this).closest('tr').find('input[name*="templatename"]').val();
        var currentRow = $(this).closest('tr');
        var productcode = currentRow.find('input[name*="productcode"]').val();

        // Ensure product code exists
        if (productcode) {
            $.ajax({
                url: '/Outwards/GetTemplateData',
                type: 'GET',
                data: { templateName: selectedValue, productcode: productcode },
                success: function (data) {
                    // // populateTemplateTable(data);
                    // // $('#form-modal').modal('show');
                    // showInModal(data); // Show data in modal
                    if (data && data.length > 0) {
                        showInModal(data); // Show data in modal
                    } else {
                        showNoDataFoundModal();
                    }
                },
                error: function (xhr, status, error) {
                    console.error("An error occurred while executing the action: " + error);
                }
            });
        }
    });
   
    function showNoDataFoundModal() {
        var modalHeader = $('#form-modal .modal-header');
        var modalBody = $('#form-modal .modal-body');

        modalHeader.empty(); // Clear modal header content
        modalBody.empty(); // Clear modal body content

        // Add a custom heading
        // var heading = $('<h5>').addClass('modal-title').text('BOQ Details');
        var heading = $('<h5>').addClass('modal-title').text('BOQ Details');
        modalHeader.append(heading);

        // Add the message to the modal body
        modalBody.text("No BOQ Data found.").css({
            'color': 'Green',        // Set text color to green
            'font-weight': '600'     // Set font weight to 650
        });

        $('#form-modal').modal('show');
    }

    function showInModal(data) {
        var modalBody = $('#form-modal .modal-body');
        var table = $('<table>').addClass('table table-bordered mt-1');
        var thead = $('<thead>').append('<tr><th>BOQ Pro.</th><th>Pro. Qty</th></tr>');
        var tbody = $('<tbody>');

        $.each(data, function (index, item) {
            var row = '<tr>' +
                '<td>' + item.boqproductname + '</td>' +
                '<td>' + item.boqqty + '</td>' +
                '</tr>';
            tbody.append(row);
        });

        table.append(thead).append(tbody);
        modalBody.empty().append(table);
        $('#form-modal').modal('show');
    }

    // Attach the click event to the edit buttons
    $(document).on('click', '.poedit-button', function () {
        console.log("click");
        var productCode = $(this).data('productcode');
        var pono = $(this).data('pono');
        var quantity = $(this).data('quantity');
        console.log(productCode + " - " + pono + " - " + quantity);
        // Call the function to show product details in the modal
        showProductDetails2(productCode, pono, quantity);
    });

    // Function to fetch and display product details in the modal
    function showProductDetails2(productCode, pono, quantity) {
        console.log(" data : " + productCode + pono + quantity);
        var editUrl = '/Outwards/_partialSubComponentpo?productCode=' + productCode + '&pono=' + pono + '&quantity=' + quantity;
        console.log(editUrl);
        showInPopup(editUrl, 'SubComponents Details');
    }

    $(document).on('click', '.addserial-button', function () {
        console.log("click");
        var productCode = $(this).data('productcode');
        var description = $(this).data('description');
        var warranty = $(this).data('warranty'); // Corrected attribute name
        // var quantity = $(this).data('quantity');
        var pono = $(this).data('pono');
        var quantity = $(this).closest('tr').find('.quantity-input').val();

        console.log(productCode + " - " + pono + " - " + quantity + " - " + warranty);
        showProductDetails3(productCode, pono, quantity, warranty);
    });

    function showProductDetails3(productCode, pono, quantity, warranty) {
        console.log(" data : " + productCode + pono + quantity + warranty);
        var editUrl = '/Outwards/_partialAddSerial?productCode=' + productCode + '&pono=' + pono + '&quantity=' + quantity + '&warranty=' + warranty;
        console.log(editUrl);
        showInPopupO(editUrl, 'Add Serial No.');
    }

    $(document).on('change', '.quantity-input', function () {
        console.log("Quantity Changed .....");
        var row = $(this).closest('tr');
        var quantity = parseFloat($(this).val());
        var pono = document.getElementById("pono").value;
        var changedInput = $(this);


        // Get the productcode value within this row
        var productCodeValue = row.find('input[name^="inwardPacket"][name$=".productcode"]').val();
        var subcomponent = row.find('input[name^="inwardPacket"][name$=".totalsubassmbly"]').val();

        console.log("quantity : " + quantity);
        console.log("productCodeValue : " + productCodeValue);
        console.log("pono : " + pono);
        $.ajax({
            url: '@Url.Action("GetSumSubComponentpo", "Outwards")',
            type: 'GET',
            dataType: 'json',
            data: { selectedvalue: productCodeValue, selectedvalue1: quantity, selectedvalue2: pono },
            success: function (data) {

                console.log("Total : " + data);
                var subcomponent = row.find('input[name^="inwardPacket"][name$=".totalsubassmbly"]');
                console.log("totalsubassembly : " + subcomponent.val());
                if (subcomponent.length > 0) {
                    subcomponent.val(data);
                } else {
                    console.error('Subcomponent not found!');
                }
            }
        });

        var tqtySum = 0;
        // Other calculations or actions related to the changed row
    })


</script>

