@model eros.Models.inward

@{
    ViewData["Title"] = "_partialSubComponent";
    Layout = null;
    string[] TableHeaders = new string[] {
        "SC Code",
        "SC Name",
        "SC UOM",
        "SC Qty",
        "Total. Qty",
    };
    string role = Context.Request.HttpContext.Session.GetString("Role");
    var jsonData = Context.Request.HttpContext.Session.GetString("MenuMaster");
}
@if (!string.IsNullOrEmpty(role))
{
    @if (role == "ADMIN" || role == "WAREHOUSE")
    {
        <div class="row">
            <div class="table-responsive col-md-12">
                <table class="table divide-gray-200">
                    <thead class="bg-gray-200 sticky top-0">
                        <tr>
                            @foreach (var head in TableHeaders)
                            {
                                <th>
                                    @head
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody id="CsDiv">
                        @if (Model.inward_subcomponent.Count == 0)
                        {
                            <tr>
                                <td style="color:green; font-weight:600;">No Subcomponent product details found!</td>
                            </tr>
                        }
                        else
                        {
                            @for (int i = 0; i < Model.inward_subcomponent.Count; i++)
                            {

                                <tr>
                                    <td>
                                        <input asp-for="@Model.inward_subcomponent[i].sccode" id="sccode" class="form-control" readonly />
                                        <span asp-validation-for="@Model.inward_subcomponent[i].sccode" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.inward_subcomponent[i].subcomponents" id="scname" class="form-control" readonly />     @* onchange="GetSComCode()" *@
                                        <span asp-validation-for="@Model.inward_subcomponent[i].subcomponents" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.inward_subcomponent[i].scuom" id="scuom" class="form-control" readonly />
                                        <span asp-validation-for="@Model.inward_subcomponent[i].scuom" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.inward_subcomponent[i].scqty" id="scqty" class="form-control" readonly />
                                        <span asp-validation-for="@Model.inward_subcomponent[i].scqty" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.inward_subcomponent[i].tqty" id="tqty" class="form-control" readonly />
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>

    }
    else if (role == "HOSITE")
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show">
                <h6 class="alert-heading">
                    <i class="bi-exclamation-octagon-fill"></i>
                    No Access !!
                </h6>
                <p>
                    You do not have access to this page. Please contact your administrator for assistance.
                </p>
                <hr>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show">
                <h6 class="alert-heading">
                    <i class="bi-exclamation-octagon-fill"></i>
                    No Access !!
                </h6>
                <p>
                    You do not have access to this page. Please contact your administrator for assistance.
                </p>
                <hr>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
}
 
<script>
</script>