@model IEnumerable<eros.Models.category_master>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string role = Context.Request.HttpContext.Session.GetString("Role");
    var jsonData = Context.Request.HttpContext.Session.GetString("MenuMaster");
}
@if (!string.IsNullOrEmpty(role))
{
    @if (role == "ADMIN" || role == "HOSITE" || role == "WAREHOUSE")
    {
        <div class="container">
            <div class="mt-3">
                <div class="card mb-3">
                    <div class="card-header bg-dark text-white">
                        <div class="d-flex align-items-baseline">
                            <h5 class="mx-auto font-weight-bolder">Category Master</h5>
                            <a asp-action="Create" class="btn btn-success text-white"><i class="fas fa-plus-square"></i> Add</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead class="thead-light text-center">
                                    <tr>
                                        <th style="width:150px;">Sr.No.</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.categoryid)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.categoryname)
                                        </th>
                                        <th style="width:150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @{
                                        int counter = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @counter
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.categoryid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.categoryname)
                                            </td>
                                            <td >
                                                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-success ">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                                <a asp-action="Details" asp-route-id="@item.id" class="btn bg-warning">
                                                    <i style="color:white" class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                                @* <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Edit</a>&nbsp;
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.id">Details</a>&nbsp
                                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.id">Delete</a> *@
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show">
                <h6 class="alert-heading">
                    <i class="bi-exclamation-octagon-fill"></i>
                    No Access !!
                </h6>
                <p>
                    You do not have access to this page. Please contact your administrator for assistance.
                </p>
                <hr>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
}

