@model eros.Models.Product_Master

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] TableHeaders = new string[] {
        "Sub-Component Code",
        "Sub-Component Name",
        "Qty",
        "UOM",
    };
    string role = Context.Request.HttpContext.Session.GetString("Role");
    var jsonData = Context.Request.HttpContext.Session.GetString("MenuMaster");
}
@if (!string.IsNullOrEmpty(role))
{
    @if (role == "ADMIN" || role == "HOSITE" || role == "WAREHOUSE")
    {
        <div class="container">
            <div class="mt-3">
                <div class="card mb-3">
                    <div class="card-header bg-dark text-white">
                        <div class="d-flex align-items-baseline">
                            <h5 class="mx-auto font-weight-bolder">Delete Product Master </h5>
                            @* <a asp-action="Index" class="btn btn-success text-white"><i class="fa fa-reply"></i> Back</a>*@
                        </div>
                    </div>
                    <form asp-action="Delete" id="CodeSbyAnizForm">
                        <div>
                            <dl class="row mx-lg-5 mt-lg-4">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.categorycode)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.categorycode)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.categoryname)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.categoryname)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.subcategory)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.subcategory)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.productcode)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.productcode)
                                </dd>

                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.productdescription)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.productdescription)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.brand)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.brand)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.hsncode)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.hsncode)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.uom)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.uom)
                                </dd>
                            </dl>
                        </div>

                        <div class="table-responsive col-md-12 p-4" style="display:none">
                            <table id="PrdTable" class="table table-striped table-sm">
                                <thead class="bg-gray-200 sticky top-0">
                                    <tr>
                                        @foreach (var head in TableHeaders)
                                        {
                                            <th>
                                                @head
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="CsDiv">
                                    @for (int i = 0; i < Model.Productmaster_Packets.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input asp-for="@Model.Productmaster_Packets[i].subcomponentcode" class="form-control" readonly />
                                                <span asp-validation-for="@Model.Productmaster_Packets[i].subcomponentcode" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <input asp-for="@Model.Productmaster_Packets[i].subcomponents" class="form-control" readonly />
                                                <span asp-validation-for="@Model.Productmaster_Packets[i].subcomponents" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <input asp-for="@Model.Productmaster_Packets[i].uom" class="form-control" readonly />
                                                <span asp-validation-for="@Model.Productmaster_Packets[i].uom" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <input asp-for="@Model.Productmaster_Packets[i].qty" class="form-control" readonly>
                                                <span asp-validation-for="@Model.Productmaster_Packets[i].qty" class="text-danger"></span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" id="hdnLastIndex" value="0" />
                        </div>


                        <div class="row mt-lg-3 mb-lg-3 mb-3">
                            <div class="col-sm-5 mx-lg-5 mx-sm-5 mx-md-5">
                                <input type="hidden" asp-for="id" />
                                <input type="submit" value="Delete" class="btn btn-primary col-md-12 col-sm-12" />
                            </div>
                            <div class="col-sm-5 mx-lg-4 mx-sm-4 mx-md-4">
                                <a asp-action="Index" class="btn btn-danger col-md-12 col-sm-12">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show">
                <h6 class="alert-heading">
                    <i class="bi-exclamation-octagon-fill"></i>
                    No Access !!
                </h6>
                <p>
                    You do not have access to this page. Please contact your administrator for assistance.
                </p>
                <hr>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
}

@*<div class="container">
    <div class="mt-3">
        <div class="card mb-3">
            <div class="card-header bg-dark text-white pt-lg-3 pb-lg-3">

                <div class="d-flex align-items-baseline">
                    <h5 class="mx-auto font-weight-bolder text-white" style="font-size:3vh;">Product Master Delete</h5>
                    @*  <a asp-action="Index" class="btn btn-success text-white"><i class="fa fa-reply"></i> Back</a>
                </div>
            </div>*@


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

