@model List<string>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string role = Context.Request.HttpContext.Session.GetString("Role");
    var jsonData = Context.Request.HttpContext.Session.GetString("MenuMaster");
}

@if (!string.IsNullOrEmpty(role))
{
    @if (role == "ADMIN")
    {
        <div class="container-fluid">
            <div class="card-header bg-dark text-white">
                <div class="d-flex align-items-baseline">
                    <h5 class="mx-auto font-weight-bolder">Registered Users List</h5>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Sr. No</th>
                                <th>
                                    UserName
                                </th>
                                <th style="width:300px;">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class=" text-center">
                            @{
                                int counter = 1;
                            }
                            @foreach (var item in ViewBag.MyList)
                            {
                                <tr>
                                    <td style="width:100px;">@counter</td>
                                    <td class="text-lowercase">@item.UserName</td>
                                    <td>

                                        @if (item.IsFound)
                                        {
                                            <a asp-action="Edit" asp-route-username="@item.UserName" class="btn btn-sm btn-warning">
                                                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                            </a>
                                          
                                            <a href="#" class="btn btn-sm btn-danger delete-button" data-username="@item.UserName">
                                                <i class="fas fa-trash-alt" aria-hidden="true"></i> Delete
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="Create" asp-route-username="@item.UserName" class="btn btn-sm btn-success">
                                                <i class="fa fa-plus" aria-hidden="true"></i> Allot
                                            </a>
                                           
                                            <a href="#" class="btn btn-sm btn-danger delete-button" data-username="@item.UserName">
                                                <i class="fas fa-trash-alt" aria-hidden="true"></i> Delete
                                            </a>
                                        }
                                        
                                     
                                    </td>

                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else if (role == "HOSITE")
    {
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <h3 style="color:red"><b>No Access !</b></h3>
            </div>
        </div>

    }
    else if (role == "WAREHOUSE")
    {
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <h3 style="color:red"><b>No Access !</b></h3>
            </div>
        </div>
    }
}
else
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show">
            <h6 class="alert-heading">
                <i class="bi-exclamation-octagon-fill"></i>
                No Access !!
            </h6>
            <p>
                You do not have access to this page. Please contact your administrator for assistance.
            </p>
            <hr>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    function confirmDelete(username, row) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You will not be able to recover this user!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log("username : " + username);
                    $.ajax({
                        url: '/UserManagment/Delete', // The URL to the delete action
                        type: 'POST', // HTTP method
                        data: { username: username }, // Data to be sent to the server
                        success: function (response) {
                            if (response.success) {
                                console.log("Success !");
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: "User Removed Successfully !",
                                }).then(() => {
                                    // Remove the row from the table
                                    row.remove();
                                    window.location.href = '/UserManagment/Index';
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: "Error found !",
                                });
                            }
                        },
                        error: function () {
                            console.log('An error occurred while processing the request.');
                        }
                    });
                }
            });
        }

        var deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                var username = button.dataset.username;
                var row = button.closest('tr'); // Find the closest table row
                confirmDelete(username, row);
            });
        });
</script>
