@model eros.Models.Supplier_Master

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string role = Context.Request.HttpContext.Session.GetString("Role");
    var jsonData = Context.Request.HttpContext.Session.GetString("MenuMaster");
}
@if (!string.IsNullOrEmpty(role))
{
    @if (role == "ADMIN" || role == "HOSITE" || role == "WAREHOUSE")
    {
        <div class="container">
            <div class="mt-3">
                <div class="card mb-3">
                    <div class="card-header bg-dark text-white">
                        <div class="d-flex align-items-baseline">
                            <h5 class="mx-auto font-weight-bolder">Supplier Master Edit</h5>
                            <a asp-action="Index" class="btn btn-success text-white"><i class="fa fa-reply"></i> Back</a>
                        </div>
                    </div>
                    <div class="container mt-4">
                        <div class="row mx-lg-2 mx-md-2">
                            <div class="col-md-12">
                                <form asp-action="Edit">
                                    <input type="hidden" asp-for="supplierid" />
                                    <div class="row">
                                        <div class="form-group col-sm-4 mt-2">
                                            <label asp-for="suppliercode" class="control-label">Supplier Code</label>
                                            <input asp-for="suppliercode" class="form-control" readonly="true" />
                                            <span asp-validation-for="suppliercode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4 mt-2">
                                            <label asp-for="supplier_name" class="control-label">Supplier Name</label>
                                            <input asp-for="supplier_name" data-uppercase autocomplete="off" class="form-control" oninput="validateAlphabet(this)" />
                                            <span asp-validation-for="supplier_name" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-sm-4 mt-2">
                                            <label class="control-label">Brand Name</label>
                                            <input asp-for="brand" data-uppercase autocomplete="off" class="form-control" oninput="validateAlphabet(this)" />
                                            <span asp-validation-for="brand" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-sm-4 mt-2">
                                            <label asp-for="gstno" class="control-label">GST No.</label>
                                            <input asp-for="gstno" data-uppercase autocomplete="off" class="form-control" oninput="validateAlphNum(this)" />
                                            <span asp-validation-for="gstno" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4 mt-2">
                                            <label asp-for="contactno" class="control-label">Contact No.</label>
                                            <input asp-for="contactno" data-uppercase autocomplete="off" class="form-control" oninput="validateNumber(this)" />
                                            <span asp-validation-for="contactno" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4 mt-2">
                                            <label asp-for="emailid" class="control-label">Email ID</label>
                                            <input asp-for="emailid" data-uppercase autocomplete="off" class="form-control" />
                                            <span asp-validation-for="emailid" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-8 mt-2">
                                            <label asp-for="address" class="control-label">Address</label>
                                            <input asp-for="address" data-uppercase autocomplete="off" class="form-control" oninput="validateAlphNum(this)" />
                                            <span asp-validation-for="address" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4 mt-2">
                                            <label asp-for="pincode" class="control-label">Pincode</label>
                                            <input asp-for="pincode" data-uppercase autocomplete="off" class="form-control" oninput="validateNumber(this)" />
                                            <span asp-validation-for="pincode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 mt-2">
                                            <label asp-for="country" class="control-label">Country</label>
                                            <select asp-for="country" data-uppercase autocomplete="off" class="form-control" id="countryDropdown" asp-items="@ViewBag.country"></select>
                                            <span asp-validation-for="country" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4 mt-2">
                                            <label asp-for="state" class="control-label">State</label>
                                            <select asp-for="state" data-uppercase autocomplete="off" class="form-control" id="stateDropdown" asp-items="@ViewBag.state"></select>
                                            <span asp-validation-for="state" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4 mt-2">
                                            <label asp-for="city" class="control-label">City</label>
                                            <select asp-for="city" data-uppercase autocomplete="off" class="form-control" id="cityDropdown" asp-items="@ViewBag.city"></select>
                                            <span asp-validation-for="city" class="text-danger"></span>
                                        </div>
                                       
                                    </div>

                                    
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="submit" value="Save" class="btn btn-primary col-md-12" />
                                        </div>
                                        <div class="col-md-6">
                                            <a asp-action="Index" class="btn btn-danger col-md-12">Back</a>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else if (role == "WAREHOUSE")
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show">
                <h6 class="alert-heading">
                    <i class="bi-exclamation-octagon-fill"></i>
                    No Access !!
                </h6>
                <p>
                    You do not have access to this page. Please contact your administrator for assistance.
                </p>
                <hr>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show">
                <h6 class="alert-heading">
                    <i class="bi-exclamation-octagon-fill"></i>
                    No Access !!
                </h6>
                <p>
                    You do not have access to this page. Please contact your administrator for assistance.
                </p>
                <hr>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // function validateAlphabet(input) {
        //     var regex = /^[a-zA-Z\s._-\s]+$/;
        //     var value = input.value;

        //     if (!regex.test(value)) {
        //         input.value = value.slice(0, -1);
        //     }
        // }

        // function validateAlphNum(input) {
        //     var regex = /^[a-zA-Z0-9]+$/;
        //     var value = input.value;

        //     if (!regex.test(value)) {
        //         input.value = value.slice(0, -1);
        //     }
        // }
        // function validateNumber(input) {
        //     var regex = /^[0-9]+$/;
        //     var value = input.value;

        //     if (!regex.test(value)) {
        //         input.value = value.slice(0, -1);
        //     }
        // }
        // function validatePinNumber(input) {
        //     var regex = /^[0-5]+$/;
        //     var value = input.value;

        //     if (!regex.test(value)) {
        //         input.value = value.slice(0, -1);
        //     }
        // }
    </script>
    <script>
        $('#countryDropdown').change(function () {
            var countryId = $(this).val();
            if (countryId) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetStatesByCountry", "Supplier_Master")',
                    data: { countryId: countryId },
                    success: function (states) {
                        $('#stateDropdown').empty();
                        $('#cityDropdown').empty();
                        $('#stateDropdown').append('<option value="">Select State</option>');
                        $.each(states, function (i, state) {
                            $('#stateDropdown').append('<option value="' + state.value + '">' + state.text + '</option>');
                        });
                    }
                });
            } else {
                $('#stateDropdown').empty();
                $('#cityDropdown').empty();
            }
        });

        $('#stateDropdown').change(function () {
            var stateId = $(this).val();
            if (stateId) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetCitiesByState", "Supplier_Master")',
                    data: { stateId: stateId },
                    success: function (cities) {
                        $('#cityDropdown').empty();
                        $('#cityDropdown').append('<option value="">Select City</option>');
                        $.each(cities, function (i, city) {
                            $('#cityDropdown').append('<option value="' + city.value + '">' + city.text + '</option>');
                        });
                    }
                });
            } else {
                $('#cityDropdown').empty();
            }
        });

        function validateNumber(input) {
            var value = input.value;
            var numericValue = value.replace(/\D/g, '');
            if (numericValue.length > 11) {
                numericValue = numericValue.slice(0, 11);
            }
            input.value = numericValue;
        }

        function validatePinNumber(input) {
            var value = input.value;
            var numericValue = value.replace(/\D/g, '');
            if (numericValue.length > 6) {
                numericValue = numericValue.slice(0, 6);
            }
            input.value = numericValue;
        }

        // function validateAlphabet(input) {
        //     var regex = /^[a-zA-Z\s._-\s]+$/;
        //     var value = input.value;

        //     if (!regex.test(value)) {
        //         input.value = value.slice(0, -1);
        //     }
        // }

        // function validateAlphNum(input) {
        //     var regex = /^[a-zA-Z0-9]+$/;
        //     var value = input.value;

        //     if (!regex.test(value)) {
        //         input.value = value.slice(0, -1);
        //     }
        // }
        // function validateNumber(input) {
        //     var regex = /^[0-9]+$/;
        //     var value = input.value;

        //     if (!regex.test(value)) {
        //         input.value = value.slice(0, -1);
        //     }
        // }
        // function validatePinNumber(input) {
        //     var regex = /^[0-5]+$/;
        //     var value = input.value;

        //     if (!regex.test(value)) {
        //         input.value = value.slice(0, -1);
        //     }
        // }
    </script>
    <script>
        function dropdownChanged() {

            var value1 = document.getElementById("supplier_name").value;
            $.ajax({
                url: '/Supplier_Master/tidgenerate',
                type: 'GET',
                data: { selectedValue: value1 },
                success: function (data) {
                    // Update the textbox value
                    document.getElementById("suppliercode").value = data;
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    console.log("An error occurred while executing the action.");
                }
            });


            $.ajax({
                url: '/Supplier_Master/GetMaxId',
                type: 'GET',
                data: { selectedValue: value1 },
                success: function (data) {
                    // Update the textbox value

                    //document.getElementById("suppliercode").value = data;
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    console.log("An error occurred while executing the action.");
                }
            });
        }
    </script>

}
